@use "../../scss/mixins.scss";
@use "../../scss/colors.scss" as *;

.sugestion-card {
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: white;
    padding: 15px;

    &:hover {
        background-color: #E6E6E6;
        cursor: pointer;
    }
}

.sugestion-text {
    color: black;
    width: 80%;
    margin: auto;
}
