@use "../../scss/mixins.scss";
@use "../../scss/colors.scss" as *;

#numbers-article {
    @include mixins.phone {
        margin-top: 0;
    }
    margin-top: 650px;
    padding: 20px;
}

#numbers-list {
    @include mixins.flex($g: 10px);
    flex-wrap: wrap;
    list-style: none;
}
