@use "../../scss/mixins.scss";
@use "../../scss/colors.scss" as *;

#plans-article {
    @include mixins.phone {
        padding: 20px;
    }
    background-color: #E5E5E5;
    padding: 80px;

    h1 {
        font-weight: 100;
    }
    h2 {
        font-weight: 400;
    }

    ul {
        width: 90%;
        margin: 50px auto;
    }
}

#plans-list {
    @include mixins.phone {
        flex-direction: column;
    }
    @include mixins.flex($g: 30px);
    list-style: none;

    li {
        @include mixins.flex($ai: stretch, $dir: column, $g: 20px);

        h2 {
            font-size: 1.8em;
            letter-spacing: 2px;
        }
        a {
            width: fit-content
        }
    }
}

.plan-spec {
    font-weight: bold;
}


#clean-energy-article {
    @include mixins.phone {
        height: auto;
    }
    background-color: #E5E5E5;
    height: 500px;
    position: relative;
}

#clean-energy-section {
    @include mixins.phone {
        transform: none;
        width: 100%;
        position: static;
    }
    @include mixins.flex($jc: center, $ai: stretch, $dir: column, $g: 40px);

    h1 { text-align: left; }

    position: absolute;
    z-index: 2;
    font-size: 1.2em;

    background-color: black;
    color: white;
    padding: 30px;
    width: 490px;
    height: 550px;

    left: 100px;
    top: 400px;

    a {
        text-decoration: none;
        border: 1px solid white;
        color: white;
        width: fit-content;
        padding: 15px;
        font-weight: lighter;
        border-radius: 40px;

        &:hover {
            background-color: $default-orange;
            border-color: $default-orange;
        }
    }
}

#woman-seeking {
    @include mixins.tablet {
        right: 10%;
    }
    @include mixins.phone {
        display: none;
    }
    display: block;
    position: absolute;
    z-index: 1;

    max-width: 700px;
    width: 70vw;

    top: 80px;
    right: 150px;
}

#orange-block {
    @include mixins.tablet {
        right: 6%;
    }
    @include mixins.phone {
        display: none;
    }
    display: block;
    max-width: 600px;
    width: 60vw;
    height: 780px;
    position: absolute;
    background-color: $default-orange;
    right: 110px;
    top: 50px;
    z-index: 0;
}
