@mixin flex($ai: center, $jc: center, $dir: row, $g: 0px) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $dir;
    gap: $g;
}

@mixin pocket {
    @media only screen and (max-width: 490px) {
        @content;
    }
}

@mixin phone_landscape {
    @media only screen and (max-width: 624px) and (orientation: landscape) {
        @content;
    }
}

@mixin phone {
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (max-width: 624px) {
        @content;
    }
}

@mixin tablet {
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 820px) {
        @content;
    }
}
